.custom-card {
  background-color: gray(180, 20%, 98%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card .card-body {
  padding: 20px;
}

.custom-card .card-title {
  color: #333333;
  font-size: 1.5rem;
}

.custom-card .card-text {
  color: #666;
  font-size: 1rem;
}