.card-text{
    color: green;
    font-weight: 600;
  }
  
.card-title{
    font-weight: 900;
  }
  
.card{
    height: 480px;
  }
  
.row{
    height: 200px;
  }
  
.card-1{
    height: 50px;
  }
  
.card-footer{
    position: relative;
    margin-top:100%;
  }